<section class="container g-py-120">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-6 g-mb-80">
                <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                    <header class="text-center mb-4">
                        <h1 class="h3 g-color-black g-font-weight-300 text-capitalize">Choose new password</h1>
                    </header>
                    <div class="col-md-8 offet-md-2">
                        <!-- <h1>Reset password</h1> -->

                        <div class="alert alert-danger" *ngIf="keyMissing">
                            <strong>The password reset key is missing.</strong>
                        </div>

                        <div class="alert alert-danger" *ngIf="error">
                            <p>Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
                        </div>

                        <p class="alert alert-success" *ngIf="success">
                            <span><strong>Your password has been reset.</strong> Please </span>
                            <a class="alert-link" routerLink="/login">sign in</a>.
                        </p>

                        <div class="alert alert-danger" *ngIf="doNotMatch">
                            The password and its confirmation do not match!
                        </div>

                        <div class="alert alert-danger" *ngIf="sameName">
                            The password should not contain connor word.
                        </div>

                        <div class="alert alert-danger" *ngIf="error1">
                            The password should not be username.
                        </div>

                        <div *ngIf="!keyMissing">
                            <form *ngIf="!success" class="g-py-15 form-group" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                                <div class="form-group g-mb-4">
                                        <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">New password</label>
                                    <input type="password" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" id="password" name="password" #passwordInput="ngModel"
                                        placeholder="New password"
                                        [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required
                                        pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                        style="height: 50px;">
                                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                                        <small class="form-text text-danger"
                                        *ngIf="passwordInput.errors.required">
                                            Your password is required.
                                        </small>
                                        <small class="form-text text-danger"
                                        *ngIf="passwordInput.errors.minlength">
                                            Your password is required to be at least 4 characters.
                                        </small>
                                        <small class="form-text text-danger"
                                        *ngIf="passwordInput.errors.maxlength">
                                            Your password cannot be longer than 50 characters.
                                        </small>
                                        <small class="form-text text-danger"
                                        *ngIf="passwordInput.errors.pattern">
                                        Password must contain at least one number and both lower and uppercase letters and special characters
                                        </small>
                                    </div>
                                    <!-- <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar> -->
                                </div>

                                <div class="form-group g-mb-4 g-mt-15">
                                        <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">New password confirmation</label>
                                    <input type="password" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                                        placeholder="Confirm the new password"
                                        [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required style="height: 50px;">
                                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                        <small class="form-text text-danger"
                                        *ngIf="confirmPasswordInput.errors.required">
                                            Your password confirmation is required.
                                        </small>
                                        <small class="form-text text-danger"
                                        *ngIf="confirmPasswordInput.errors.minlength">
                                            Your password confirmation is required to be at least 4 characters.
                                        </small>
                                        <small class="form-text text-danger"
                                        *ngIf="confirmPasswordInput.errors.maxlength">
                                            Your password confirmation cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-4 align-self-center text-right">
                                    <button class="btn btn-md u-btn-primary rounded g-py-13 g-px-25 g-mt-15"type="submit" [disabled]="passwordForm.form.invalid">
                                        Create
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>
