<section class="container g-py-20">
    <div (click)="cancel()" style="cursor: pointer;">
        <span class="u-label g-bg-primary g-rounded-3 g-mr-10 g-mb-15 g-ml-20" style="width: 70px!important;">Back</span>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-7 g-mb-80">
            <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-40 g-py-50 mb-4">
                <header class="text-center mb-4">
                    <h1 class="h3 g-color-black g-font-weight-300 text-capitalize">Create New User</h1>
                </header>

                <form name="editForm" role="form"
                      class="g-py-15 form-group"
                      novalidate (ngSubmit)="save()"
                      #editForm="ngForm">
                    <!-- <h2 id="myUserLabel">
                        Create or edit a User
                    </h2> -->
                    <div>
                        <jhi-alert-error></jhi-alert-error>
                        <div class="mb-4 form-group" [hidden]="!user.id">
                            <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">ID</label>
                            <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="id"
                                [(ngModel)]="user.id" readonly>
                        </div>

                        <div class="mb-4 form-group">
                          <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Username</label>
                          <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="login" #loginInput="ngModel"
                              [(ngModel)]="user.login" minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$" style="height: 50px;"
                              placeholder="Username" style="text-transform: capitalize;height: 50px;">

                            <div *ngIf="loginInput.dirty && loginInput.invalid">
                                <small class="form-text text-danger"
                                *ngIf="loginInput.errors.required">
                                    This field is required.
                                </small>

                                <small class="form-text text-danger"
                                *ngIf="loginInput.errors.maxlength">
                                    This field cannot be longer than 50 characters.
                                </small>

                                <small class="form-text text-danger"
                                *ngIf="loginInput.errors.pattern">
                                    This field can only contain letters, digits and e-mail addresses.
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">First Name</label>
                                    <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="firstName" #firstNameInput="ngModel"
                                        [(ngModel)]="user.firstName" maxlength="50"
                                        placeholder="First Name"  style="height: 50px;">

                                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                                        <small class="form-text text-danger"
                                        *ngIf="firstNameInput.errors.maxlength"
                                    >
                                            This field cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Last Name</label>
                                    <input type="text" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="lastName" #lastNameInput="ngModel"
                                        [(ngModel)]="user.lastName" maxlength="50"
                                        placeholder="Last Name"  style="height: 50px;">

                                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                                        <small class="form-text text-danger"
                                        *ngIf="lastNameInput.errors.maxlength"
                                    >
                                            This field cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Email</label>
                            <input type="email" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" name="email" #emailInput="ngModel"
                                [(ngModel)]="user.email" minlength="5" maxlength="254" email
                                placeholder="Email" style="height: 50px;">

                            <div *ngIf="emailInput.dirty && emailInput.invalid">
                                <small class="form-text text-danger"
                                *ngIf="emailInput.errors.required">
                                    This field is required.
                                </small>

                                <small class="form-text text-danger"
                                *ngIf="emailInput.errors.maxlength"
                            >
                                    This field cannot be longer than 100 characters.
                                </small>

                                <small class="form-text text-danger"
                                *ngIf="emailInput.errors.minlength"
                            >
                                    This field is required to be at least 5 characters.
                                </small>

                                <small class="form-text text-danger"
                                *ngIf="emailInput.errors.email">
                                    Your email is invalid.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Select Role</label><br>
                            <div class="form-check-inline" *ngFor="let authority of authorities" >
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="optradio" name="authority"
                                    [(ngModel)]="user.authorities" [value]="authority" (ngModelChange)="fun(authority)">
                                    {{authority}}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">Select Dashboards</label>
                            <select class="form-control" multiple name="dashboard" [(ngModel)]="user.dashboard">
                                <option *ngFor="let board of dashboard" [value]="board.name">{{board.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="g-mt-30">
                        <button type="button" class="btn btn-md u-btn-secondary rounded g-py-13 g-px-25 g-mt-15" (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                        >Cancel</span>
                        </button>
                        <button type="submit" class="btn btn-md u-btn-primary rounded g-py-13 g-px-25 g-mt-15" [disabled]="editForm.form.invalid || isSaving">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Create</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
