<div class="g-py-30">
    <div class="g-py-20" (click)="cancel()" style="cursor: pointer;">
        <span class="u-label g-bg-primary g-rounded-3 g-mr-10 g-mb-15 g-ml-20" style="width: 70px!important;">Back</span>
    </div>
    <!-- <h2>
        <span id="user-management-page-heading">Users</span>
        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./new']">
            <fa-icon [icon]="'plus'"></fa-icon> <span>Create a new User</span>
        </button>
    </h2> -->
    <jhi-alert></jhi-alert>
    <div class="col-md-12">
        <div class="table-responsive" *ngIf="users">
            <table class="table table-bordered">
                <thead class="text-uppercase g-letter-spacing-1">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <th jhiSortBy="login"  style="width: 150px;"><span>Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="email" style="width: 200px;"><span>Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th style="width: 100px;">Roles</th>
                    <th style="width: 120px;">Dashboards</th>
                    <!-- <th><span>Profiles</span></th> -->
                    <!-- <th jhiSortBy="createdDate"><span>Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
                    <th style="width: 70px;"></th>
                    <th style="width: 70px;"></th>
                    <th style="width: 70px;"></th>
                </tr>
                </thead>
                <tbody *ngIf ="users">
                <tr *ngFor="let user of users; trackBy: trackIdentity">
                    <!-- <td><a [routerLink]="['./', user.login, 'view']">{{user.id}}</a></td> -->
                    <td>{{user.login}}</td>
                    <td>{{user.email}}</td>
                    <!-- <td>
                        <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated"
                            >Deactivated</button>
                        <button class="btn btn-success btn-md g-mr-10 g-mb-15" (click)="setActive(user, false)" *ngIf="user.activated"
                                [disabled]="currentAccount.login === user.login">Activated</button>
                    </td> -->

                    <td>
                        <div *ngFor="let authority of user.authorities">
                            <span class="u-label g-bg-primary g-rounded-3 g-mr-10 g-mb-15" style="width: 70px!important;">{{ authority }}</span>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let board of user.dashboard">
                            <span class="u-label g-bg-purple g-rounded-3 g-mr-10 g-mb-15" style="width: 100px!important;">{{ board }}</span>
                        </div>
                    </td>
                    <!-- <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                    <td>{{user.lastModifiedBy}}</td>
                    <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td> -->
                    <td style="text-align: center;">
                        <button type="submit"
                                [routerLink]="['./', user.login, 'view']"
                                class="btn btn-md u-btn-purple g-py-3 g-px-6 rounded-0">
                            <!-- <fa-icon [icon]="'eye'"></fa-icon> -->
                            View
                        </button>
                    </td>
                    <td style="text-align: center;">
                        <button type="submit"
                                [routerLink]="['./', user.login, 'edit']"
                                queryParamsHandling="merge"
                                class="btn btn-md u-btn-blue g-py-3 g-px-6 rounded-0">
                            <!-- <fa-icon [icon]="'pencil-alt'"></fa-icon> -->
                            Edit
                        </button>
                    </td>
                    <td style="text-align: center;">
                        <button type="button" (click)="deleteUser(user)"
                                class="btn btn-md u-btn-darkred g-py-3 g-px-6 rounded-0" [disabled]="currentAccount.login === user.login">
                            <!-- <fa-icon [icon]="'times'"></fa-icon> -->
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="users">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
