<section class="container g-py-120">
    <div class="row justify-content-center">
        <div class="col-sm-8 g-mb-80">
            <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                <header class="text-center mb-4">
                    <h1 class="h3 g-color-black g-font-weight-300 text-capitalize">User Details</h1>
                </header>
                <div class="col-8">
                    <div *ngIf="user">
                        <div class="row g-mt-20">
                            <span class="col-md-5">Username</span><span class="col-md-1">:</span> <b class="col-md-5"> {{user.login}}</b>
                        </div>
                        <div class="row g-mt-20">
                            <span class="col-md-5">First Name</span><span class="col-md-1">:</span>  <b class="col-md-5"> {{user.firstName}}</b>
                        </div>
                        <div class="row g-mt-20">
                            <span class="col-md-5">Last Name</span><span class="col-md-1">:</span>  <b class="col-md-5"> {{user.lastName}}</b>
                        </div>
                        <div class="row g-mt-20">
                            <span class="col-md-5">Email</span><span class="col-md-1">:</span>  <b class="col-md-5"> {{user.email}}</b>
                        </div>
                        <div class="row g-mt-20">
                            <span class="col-md-5">Dashboards:</span><span class="col-md-1">:</span><br>
                            <span *ngFor="let board of user.dashboard" class="col-md-3">
                                <span class="u-label g-bg-indigo g-mr-10 g-mb-15 g-ml-20">{{board}}</span>
                            </span>
                        </div>
                        <div class="row g-mt-20">
                            <span class="col-md-5">Roles:</span><span class="col-md-1">:</span><br>
                                <span *ngFor="let authority of user.authorities" class="col-md-3">
                                    <span class="u-label g-bg-primary g-mr-10 g-mb-15 g-ml-20">{{authority}}</span>
                                </span>
                        </div>
                        <div class="row-md jh-entity-details">
                            <!-- <div class="col-md-5"><span>Login: {{user.login}}</span></div>
                            <div class="col-md-5">
                                <span></span>
                                <jhi-boolean
                                    [value]="user.activated"
                                    textTrue="Activated"
                                    textFalse="Deactivated">
                                </jhi-boolean>
                            </div>
                            <dt><span>First Name</span></dt>
                            <dd>{{user.firstName}}</dd>
                            <dt><span>Last Name</span></dt>
                            <dd>{{user.lastName}}</dd>
                            <dt><span>Email</span></dt>
                            <dd>{{user.email}}</dd>
                            <dt><span>Created By</span></dt>
                            <dd>{{user.createdBy}}</dd>
                            <dt><span>Created Date</span></dt>
                            <dd>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
                            <dt><span>Last Modified By</span></dt>
                            <dd>{{user.lastModifiedBy}}</dd>
                            <dt><span>Last Modified Date</span></dt>
                            <dd>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
                            <dt><span>Profiles</span></dt> -->
                            <!-- <dd>
                                <ul class="list-unstyled">
                                    <li *ngFor="let authority of user.authorities">
                                        <span class="badge badge-info">{{authority}}</span>
                                    </li>
                                </ul>
                            </dd>
                            <dd>
                                <ul class="list-unstyled">
                                    <li *ngFor="let board of user.dashboard">
                                        <span class="badge badge-info">{{board}}</span>
                                    </li>
                                </ul>
                            </dd> -->
                        </div>
                        <button type="submit"
                                routerLink="../../"
                                class="btn btn-info">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
