<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
    <div class="u-header__section u-header__section--dark g-bg-black g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10"
    data-header-fix-moment-classes="g-py-0"  *ngIf="!isAuthenticated()">
        <nav class="navbar navbar-expand-lg">
            <div class="jh-logo-container float-left">
                <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                    <fa-icon [icon]="'bars'"></fa-icon>
                </a>
                <a class="navbar-brand logo float-left" style="background-color: white !important"  routerLink="/" (click)="collapseNavbar()">
                    <img src="connor.png" alt="Image Description" style="height: 40px;">
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item g-mr-20" routerLinkActive="active"
                     [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="false">
                        <a class="nav-link" routerLink="/login" (click)="collapseNavbar()">
                            <span>
                                <span>LOGIN</span>
                            </span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'Admin'" class="nav-item g-mr-20" routerLinkActive="active"
                     [routerLinkActiveOptions]="{exact: true}">
                     <a class="nav-link" routerLink="/admin/user-management/new" (click)="collapseNavbar()">
                            <span>User creation</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'Admin'" class="nav-item g-mr-20" routerLinkActive="active"
                     [routerLinkActiveOptions]="{exact: true}">
                     <a class="nav-link" routerLink="admin/user-management" (click)="collapseNavbar()">
                            <span>User Management</span>
                        </a>
                    </li>
                    <li class="nav-item g-mr-20" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="true">
                    <a class="nav-link" (click)="logout()" id="logout">
                           <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                           <span>Sign Out</span>
                       </a>
                   </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

