<div id="mySidenav" class="sidenav" style="width: 250px;">
  <a href="javascript:void(0)" class="closebtn"  (click)="closeNav()" style="margin-left: 40px;">&times;</a>
    <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
        <img src="connor.png" alt="Image Description" style="height: 40px;">
    </a>
    <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'Admin'">
        <p style="margin-top: 30px !important; color: white; font-weight: bold;" class="g-ml-20">
            <span class="g-ml-10">Dashboards</span>
        </p>
        <section class="g-bg-white g-color-white g-py-5" style="background-color: #022548 !important;">
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Project View'" (click)="projectView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Team View'" (click)="teamView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a  target="_blank"
                *ngIf="board ==='Business View'">
                 <i class="fa fa-list-ul" aria-hidden="true">
                </i><span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Client View'" > 
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
        </section>
    </div>
    <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'Executive'">
        <p style="margin-top: 30px !important; color: white; font-weight: bold;" class="g-ml-20">
            <span class="g-ml-10">Dashboards</span>
        </p>
        <section class="g-bg-white g-color-white g-py-5" style="background-color: #022548 !important;">
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Project View'" (click)="projectView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Team View'" (click)="teamView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a  target="_blank"
                *ngIf="board ==='Business View'">
                 <i class="fa fa-list-ul" aria-hidden="true">
                </i><span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Client View'" > 
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
        </section>
    </div>
    <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'Account Executive'">
        <p style="margin-top: 30px !important; color: white; font-weight: bold;" class="g-ml-20">
            <span class="g-ml-10">Dashboards</span>
        </p>
        <section class="g-bg-white g-color-white g-py-5" style="background-color: #022548 !important;">
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Project View'" (click)="projectView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Team View'" (click)="teamView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a  target="_blank"
                *ngIf="board ==='Business View'">
                 <i class="fa fa-list-ul" aria-hidden="true">
                </i><span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Client View'" > 
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
        </section>
    </div>
    <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'Account Manager'">
        <p style="margin-top: 30px !important; color: white; font-weight: bold;" class="g-ml-20">
            <span class="g-ml-10">Dashboards</span>
        </p>
        <section class="g-bg-white g-color-white g-py-5" style="background-color: #022548 !important;">
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Project View'" (click)="projectView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Team View'" (click)="teamView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a  target="_blank"
                *ngIf="board ==='Business View'">
                 <i class="fa fa-list-ul" aria-hidden="true">
                </i><span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Client View'" > 
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
        </section>
    </div>
    <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'Team Member'">
        <p style="margin-top: 30px !important; color: white; font-weight: bold;" class="g-ml-20">
            <span class="g-ml-10">Dashboards</span>
        </p>
        <section class="g-bg-white g-color-white g-py-5" style="background-color: #022548 !important;">
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Project View'" (click)="projectView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Team View'" (click)="teamView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a  target="_blank"
                *ngIf="board ==='Business View'">
                 <i class="fa fa-list-ul" aria-hidden="true">
                </i><span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Client View'" > 
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
        </section>
    </div>
    <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'Client'">
        <p style="margin-top: 30px !important; color: white; font-weight: bold;" class="g-ml-20">
            <span class="g-ml-10">Dashboards</span>
        </p>
        <section class="g-bg-white g-color-white g-py-5" style="background-color: #022548 !important;">
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Project View'" (click)="projectView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Team View'" (click)="teamView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a  target="_blank"
                *ngIf="board ==='Business View'">
                 <i class="fa fa-list-ul" aria-hidden="true">
                </i><span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Client View'" > 
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
        </section>
    </div>
    <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'Custom Role'">
        <p style="margin-top: 30px !important; color: white; font-weight: bold;" class="g-ml-20">
            <span class="g-ml-10">Dashboards</span>
        </p>
        <section class="g-bg-white g-color-white g-py-5" style="background-color: #022548 !important;">
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Project View'" (click)="projectView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Team View'" (click)="teamView($event)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a  target="_blank"
                *ngIf="board ==='Business View'">
                 <i class="fa fa-list-ul" aria-hidden="true">
                </i><span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
            <span *ngFor="let board of account.dashboard">
                <a target="_blank"
                    *ngIf="board ==='Client View'" > 
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span class="g-ml-5">{{ board }}</span>
                </a>
            </span>
        </section>
    </div>
    <!-- <p style="margin-top: 30px !important; color: white; font-weight: bold;" class="g-ml-20">
       <span class="g-ml-10">Edit Project Details</span>
    </p> -->
    <ul class="navbar-nav ml-auto g-mt-50">
        <p style="margin-top: 30px !important; color: white; font-weight: bold;" class="g-ml-20">
           <span class="g-ml-12">User</span>
        </p>
        <li *jhiHasAnyAuthority="'Admin'" class="nav-item g-mr-20" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/admin/user-management/new">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <span>User Creation</span>
            </a>
        </li>
        <li *jhiHasAnyAuthority="'Admin'" class="nav-item g-mr-20" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a  routerLink="admin/user-management">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>User Management</span>
            </a>
        </li>
        <li class="nav-item g-mr-20" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
            <a  (click)="logout()" id="logout">
                <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                <span>Sign Out</span>
            </a>
        </li>
    </ul>
</div>
<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>

<div [ngSwitch]="isAuthenticated()">
    <div *ngIf="this.project === true">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-5">
                    <h4 style="font-weight: bold;">Project View</h4>
                </div>
            </div>
        </div>
        <div *ngIf="token.access_token" style="margin-top: 35px; height: 1600px; width: auto; ">
            <ngx-powerbi-component type="report"
                                id="69e75f99-c187-4fc3-a69b-5280bb8271da"
                                embedUrl="https://app.powerbi.com/reportEmbed?reportId=69e75f99-c187-4fc3-a69b-5280bb8271da&groupId=84a8da3c-87e8-4411-9faf-567e093da181&autoAuth=true"
                                tokenType="Bearar"
                                accessToken="{{token.access_token}}">
            </ngx-powerbi-component>
        </div>
    </div>
</div>
<div [ngSwitch]="isAuthenticated()">
    <div *ngIf="this.team === true">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-5">
                    <h4 style="font-weight: bold;">Team View</h4>
                </div>
            </div>
        </div>
        <div *ngIf="token1.access_token" style="margin-top: 35px; height: 1600px; width: auto; ">
            <ngx-powerbi-component type="report"
                                id="d8b45f11-ac00-48ae-9770-bf79746bdd6e"
                                embedUrl="https://app.powerbi.com/reportEmbed?reportId=d8b45f11-ac00-48ae-9770-bf79746bdd6e&groupId=b6d712c0-4ac3-4780-bc78-6c821f5f0e84&autoAuth=true"
                                tokenType="Bearar"
                                accessToken="{{token1.access_token}}">
            </ngx-powerbi-component>
        </div>
    </div>
</div>
