/* after changing this file run 'yarn run webpack:build' */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'animate.css';
@import 'style.css';
@import 'styleop.css';
@import 'hs.megamenu.css';
@import 'hamburgers.min.css';
@import 'unify-components.css';
@import 'unify-core.css';
@import 'unify-globals.css';
@import 'custombox.min.css';
@import 'theme.css';
@import 'sweetalert2.css';
@import 'font-awesome.css';

.modal-content {
    margin-top: 100px !important;
}

.nav-item > a {
    color: white !important;
}

.u-btn-primary {
    color: #fff;
    background-color: #022548;
    font-weight: 700 !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #022548;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 13px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: 15px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -15px;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.navbar-brand.logo {
    padding: 5px 15px;
}
