<section class="container g-py-120">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-5 g-mb-80 offset-md-1">
            <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
                <header class="text-center mb-4">
                    <h1 class="h3 g-color-black g-font-weight-300 text-capitalize">Create User</h1>
                </header>
    
                <!-- Form -->
                <form class="g-py-15 form-group" (ngSubmit)="login()">
                    <div class="mb-4 form-group">
                        <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">USERNAME</label>
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" 
                        name="username" id="username" placeholder="Username"
                        [(ngModel)]="username" style="height: 50px;">
                    </div>
    
                    <div class="g-mb-35 form-group"">
                        <div class="row justify-content-between">
                            <div class="col align-self-center">
                                <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">PASSWORD</label>
                            </div>
                            <!-- <div class="col align-self-center text-right">
                                <a class="d-inline-block g-font-size-12 mb-2" href="#!">Forgot password?</a>
                            </div> -->
                        </div>
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 mb-3" 
                            type="password" name="password" id="password" placeholder="Password"
                            [(ngModel)]="password" style="height: 50px;">
                        <div class="row justify-content-between">
                            <div class="col-8 align-self-center">
                                <div class="form-check">
                                    <!-- <label class="form-check-label" for="rememberMe">
                                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe"
                                            checked>
                                        <span>Remember me</span>
                                    </label> -->
                                    <!-- <button type="submit" class="btn btn-success">Sign in</button><br>
                                    <a class="alert-link" (click)="requestResetPassword()">Forgot password?</a> -->
                                </div>
                            </div>
                            <div class="col-4 align-self-center text-right">
                                <button class="btn btn-md u-btn-primary rounded g-py-13 g-px-25 g-mt-15" type="button">
                                    Create
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- End Form -->
            </div>
        </div>
    </div>
</section>
